@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
        width: 100%;
        max-width: 500px;
        margin: 11em auto;
        position: relative;
}

body { background: #EDF6FF;}
   
body, select, textarea{
    font-family: 'Source Sans Pro', sans-serif;
}

select {
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin-bottom: 30px;
    height: 50px;
    letter-spacing: 2px;
    background-color: #fff;
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

h2 {text-align: center;font-size: 30px; margin-bottom: 25px;}
   
.copy-btn {
    display: block;
    margin: 40px auto 0;
    text-align: center;
    background-color: #6474E5;
    line-height: 70px;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
}

/* .copy-btn:hover{background: #9AA4EC;} */
.copy-btn:hover, 
.copy-btn:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 1em transparent;
  background: #9AA4EC;
}

@keyframes pulse {
    0% {box-shadow: 0 0 0 0 #9AA4EC; }
  }

.text-box textarea {
    width: 100%;
    min-height: 300px;
    padding: 1em;
    border: none;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    resize: none;
    font-weight: bold;
}
